# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

# ============ #
# VSCode       #
# ============ #
code/BOOTGame/.vscode/launch.json
code/BOOTGame/Assets/Plugins.meta
code/BOOTGame/Assets/Plugins/Editor.meta
code/BOOTGame/Assets/Plugins/Editor/VSCode.cs
code/BOOTGame/Assets/Plugins/Editor/VSCode.cs.meta

code/BOOTGame/BOOTGame.userprefs
